@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the public page of the client of the UziPoc. If you go to the Protected page you need te be signed in.</p>
</div>