@page
@model ProtectedModel
@{
    ViewData["Title"] = "Protected";
}
<h1>@ViewData["Title"]</h1>

<p>This page is protected</p>
Received uzi data from bridge:
<br />
@Model.UziInformationEncrypted
<br />
<br />
Decrypted using Ura's local private key:
<br />
@Model.UziInformationDecrypted
<br /><br />

<a href="/Account/LogOut">Logout</a>